<!DOCTYPE html>
<!-- https://getbootstrap.com/docs/4.1/examples/dashboard/ -->
<html>
<head>
  <title>Play Macao</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="all.min.css">
  <style type="text/css">
    .red{
      color: #dc3545;
    }
    .blue{
      color: #007bff;
    }
    .yellow{
      color: #ffc107;
    }
    .green{
      color: #28a745;
    }
    .black{
      color: #000000;
    }
  </style>

</head>
<body>


  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-sm-12">
        <div class="row">
          <h2>Play</h2>
        </div>
        <div class="row" id="startRow">
          <p>Wait for every player before starting the game.</p>
          <button type="button" class="btn btn-primary" id="startGameButton"><i class="fas fa-play"></i> Start Game</button>
        </div>
        <div class="row" id="casinosRow" style="display: none;">

          <div class="card" style="width: 25rem;">
            <div class="card-body">
              <div class="container">
                <div class="row">
                  <div class="col-sm-4">
                    <h5 class="card-title"><i style="font-size: 4em; color: grey;" class="fas fa-dice-one"></i></h5>
                    <h6 class="card-subtitle mb-2 text-muted">90 $ <br> 20 $ <br> 0 $</h6>
                  </div>
                  <div class="col-sm-8">
                    <p class="card-text">
                      <i style="font-size: 1.5em;" class="fas fa-dice-one black"></i>
                      <i style="font-size: 1.5em;" class="fas fa-dice-one black"></i>
                      <i style="font-size: 1.5em;" class="fas fa-dice-one black"></i>
                      <br>
                      <i style="font-size: 1.5em;" class="fas fa-dice-one red"></i>                
                      <br>
                      <i style="font-size: 1.5em;" class="fas fa-dice-one green"></i>
                      <i style="font-size: 1.5em;" class="fas fa-dice-one green"></i>
                      <i style="font-size: 1.5em;" class="fas fa-dice-one green"></i>
                      <i style="font-size: 1.5em;" class="fas fa-dice-one green"></i>
                      <i style="font-size: 1.5em;" class="fas fa-dice-one green"></i>
                      <i style="font-size: 1.5em;" class="fas fa-dice-one green"></i>
                      <i style="font-size: 1.5em;" class="fas fa-dice-one green"></i>
                      <i style="font-size: 1.5em;" class="fas fa-dice-one green"></i>
                    </p>
                  </div>
                </div>
              </div>
              
              
            </div>
          </div>

          <div class="card" style="width: 25rem;">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>

          <div class="card" style="width: 25rem;">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>

          <div class="card" style="width: 25rem;">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>

          <div class="card" style="width: 25rem;">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>

          <div class="card" style="width: 25rem;">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
        </div>


      </div>
      <div class="col-lg-2 col-sm-12">
        <div id="players">
          <h3>Players</h3>

          <table class="table" id="playersList">
          </table>
        </div>
      </div>
    </div>      
    </div>
  </div>


  <div class="modal fade" id="nameModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form id="formName">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit user</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">     
            <div class="form-group row">
              <label for="inputName" class="col-sm-2 col-form-label">Name</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="inputName">
              </div>
            </div>
                
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>





  <script src="jquery.min.js"></script>
  <script src="popper.min.js"></script>
  <script src="bootstrap.min.js"></script>
  <script src="all.min.js"></script>
  <script src="js.cookie.js"></script> <!-- https://github.com/js-cookie/js-cookie -->


  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/app.js"></script>
</body>
</html>